<div class='well'>
  <form method='POST' action='/products'>
    <div class='row'>
      <div class='col-sm-6'>
        <input name='name' class='form-control' placeholder='Enter name' />
      </div>
      <div class='col-sm-6'>
        <textarea name='description' class='form-control' placeholder='Enter description' /></textarea>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <button class='btn btn-primary' type='submit'>Insert</button>
      </div>
    </div>
  </form>
</div>
