<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/client/css/styles.css' />
  </head>
  <body>
    <ul class='nav nav-tabs'>
      {% for page in pages %}
      <li {% if mode === page.mode %} class='active' {% endif %}>
        <a href='{{ page.url }}'>
          {{ page.text }} 
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class='container content'>
    {% block content  %}
    {% endblock %}
    </div>
  </body>
</html>

