{% extends 'layout.html' %}
{% block content %}
{% include 'filter.html' %}
{% include 'insertForm.html' %}
    {% for product in products %}
    <div class='product panel panel-default'>
      <div class='panel-heading'>
        <h3>
      {% if title === 'Products' %}
        {% if product === selected %}
          <a href='/products'>{{ product.name }}</a>
        {% else %}
          <a href='/products/{{product.name}}'>{{ product.name }}</a>
        {% endif %}
      {% else %}
        {% if product === selected %}
          <a href='/products/active'>{{ product.name }}</a>
        {% else %}
          <a href='/products/active/{{product.name}}'>{{ product.name }}</a>
        {% endif %}
      {% endif %}
        </h3>
      </div>
      <div class='panel-body'>
        {% include 'product.html' %}
      </div>
    </div>
    {% endfor %}
{% endblock %}
