{% extends 'layout.html' %}
{% block content %}
<div class='controls'>
  {% if title === 'Products' %}
  <a href='/products/active' class='btn btn-default'>Filter Active Products</a>
  {% else %}
  <a href='/products' class='btn btn-default'>Show All Products</a>
  {% endif %}
</div>
    {% for product in products %}
    <div class='product panel panel-danger'>
      <h2>
      {% if title === 'Products' %}
        {% if product === selected %}
          <a href='/products'>{{ product.name }}</a>
        {% else %}
          <a href='/products/{{product.name}}'>{{ product.name }}</a>
        {% endif %}
      {% else %}
        {% if product === selected %}
          <a href='/products/active'>{{ product.name }}</a>
        {% else %}
          <a href='/products/active/{{product.name}}'>{{ product.name }}</a>
        {% endif %}
      {% endif %}
      </h2>
      {% if product === selected %}
      <div class='detail'>
        {{ product.description }}
        <form method='POST' action='/products/{{product.id}}?_method=DELETE'>
          <button class='btn btn-danger' type='submit'>Delete</button>
        </form>
      </div>
      {% endif %}
    </div>
    {% endfor %}
{% endblock %}
